@tailwind base;
@tailwind components;
@tailwind utilities;

.anime {
    border: 5px solid #1f242d;
    border-top: 5px solid #0ef;
    border-bottom: 5px solid #0ef;
    animation: rotate 5s alternate-reverse infinite;
}

* {
    scroll-behavior: smooth;
}

/* @keyframes rotate{
    100%{
        rotate: 360deg;
    }
} */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}



@keyframes actioncon1 {
    from {
        left: 300px;
    }

    to {
        left: 0px;
    }
}

@keyframes actioncon2 {
    from {
        left: 400px;
    }

    to {
        left: 0px;
    }
}

@keyframes actioncon3 {
    from {
        left: 500px;
    }

    to {
        left: 0px;
    }
}

.active {
    text-decoration: underline;
    color: #0ef;
}

.skill_img {
    max-width: 170px;
    width: 100%;
    height: 170px;
    border: 1px solid #0ef;
    padding: 25px;
    border-radius: 20%;
    box-shadow: 2px 4px 8px black;
}

.mantine-Progress-label {
    color: black !important;
}

.pro_img_con {
    background-color: white;
    border-radius: 33px;
    max-width: 450px;
    width: 100%;
}

.pro_img {
    max-width: 450px;
    width: 100%;
    height: 300px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
    max-height: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #0ef;
}